body{
    background-color: #90EE90;
    font-family: perpetua, Helvetica, serif; 
    text-align: center;
    margin-top: 2.5em;
 }

img{
    height: 15em;
    width: 15em;
    margin: 1em;
    border-radius: 25px; 
 }

p {
  font-size: 16px;
}

h1 {
  text-shadow: 1px 1px 0 rgb(223, 227, 229), 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #000000;
}

h2 {
   margin: 3em;
 }
   
footer{
   margin: 10em 1em 1em 1em;
   position: static;
   float: right;
 }

button {
  background-color: rgb(141, 232, 255);
  border: 5px white solid;
  border-radius: 25px;
  font-family: perpetua, Helvetica, serif;
  font-weight: bold;
  padding: 6px;
}
button:hover {
  background-color: rgb(83, 154, 172);
  border: 4px rgb(146, 146, 146) solid;
  border-radius: 25px;
}
.button_water {
  background-color: rgb(112, 87, 255);
}
.button_water:hover {
  background-color: rgb(79, 67, 146);
}
.button_fire {
  background-color: rgb(255, 149, 29);
}
.button_fire:hover {
  background-color: rgb(139, 99, 52);
}
.button_earth {
  background-color: rgb(106, 255, 100);
}
.button_earth:hover {
  background-color: rgb(77, 141, 75);
}
.button_air {
  background-color: rgb(203, 253, 255);
}
.button_air:hover {
  background-color: rgb(135, 159, 160);
}

.start {
  display: block;
}

.animal_chosen {
  display: none;
  margin-top: 6em;
}

.outcome {
  display: none;
}

.flexbox {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }

.animal {
   margin: 1em;
 }

.human {
   margin-top: 3em;
 }

.vs {
  margin: 1em 0em 0em 0em;
  width: 10em;
  height: 15em;
}

.a {
  border: 5px white solid;
  border-radius: 25px;
  display: inline-block;
 }
.b {
  border: 3px rgb(141, 232, 255) solid;
  border-radius: 25px;
  display: block;
}

.vs_animal {
  margin: 0em;
  display: block;
}

.lets_go {
  margin: 2em;
  font-size: 15px;
}

.flip {
  transform: scaleX(-1)
}

.winner_image {
  width: 40em;
  height: 25em;
  margin: 0;
  display: block;
}

.disclaimer {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 5em;
}

.outcome_dialogue {
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(141, 232, 255);
  border: 5px white solid;
  border-radius: 25px;
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  max-width: 35em;
}

.confirm_close {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  border: 2px solid black;
  border-radius: 25px;
}
.confirm_close_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 25%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.confirmation {
  border: 2px solid black;
  border-radius: 25px;
}

.play_again {
  margin-top: 3em;
}

.tie {
  display: none;
}

.tie_announcement {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.choose_element {
  font-weight: bold;
  font-size: 20px;
  margin: 3em;
}

.element_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.element_button {
  margin: 1em;
}

.element_explanation {
  font-size: 20px;
}

.element_animal {
  display: none;
  margin-top: 6em;
}
.player_combo_text, .computer_combo_text, .thicc {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgb(223, 227, 229), 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #000000;
}
.element_animal_one {
  display: none;
}
.element_animal_two {
  display: none;
}
.element_animal_three {
  display: none;
}
.element_animal_four {
  display: none;
}
.element_animal_five {
  display: none;
}
.element_outcome {
  display: none;
}
.element_animal_text {
  font-size: 25px;
  margin-top: 200px;
}
.you_become {
  margin-top: 100px; 
  margin-bottom: 124px;
  font-size: 25px;
}
.c {
  border: 5px white solid; 
  border-radius: 25px;
  display: inline-block;
 }
.d {
  background: 3px rgb(141, 232, 255);
  border-radius: 25px;
  display: block;
}

.second_tie{
  display: none; 
}