<!DOCTYPE html>

<html>
    <head>
        <title>Super Ultimate Animal Battle Royale Remix Part 2: The Remaster of the classic Rock, Paper, Scissors</title>
        <meta name="description" content="A game of rock, paper, scissors with added elements and mechanics to give it a unique and more complex vibe">
        <meta name="keywords" content="web based game, rock paper scissors game, coding practice, animals, battle royale, remaster">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rock_paper_scissors.css') }}">
    </head>

    <body>
        <div class = "start" id = "start">
            <header>
                <h1>Welcome to the battle of a lifetime! <br>The Super Ultimate Animal Battle Royale Remix Part 2: The Remaster of the Classic Rock, Paper, Scissors!</h1>
            </header>
            
            <h2>Please, choose an animal:</h2>
            <div class = "animal_flexbox">
                <div class = "animal">
                    <button class = "animal_button" id = "bee_button" data-animal = "bee">
                        <img src="{{ url_for('static', filename='img/bee.jpg') }}" alt="There should be a bee here.">
                    </button>
                    <p>Bee</p>    
                </div>
                <div class = "animal">
                    <button class = "animal_button" id = "bun_button" data-animal = "bun">
                        <img src = "{{ url_for('static', filename='img/bun.jpg') }}" alt = "There should be a bun here.">
                    </button> 
                    <p>Bun</p>  
                </div>
                <div class = "animal">
                    <button class = "animal_button" id = "corvid_button" data-animal = "corvid">
                        <img src="{{ url_for('static', filename='img/corvid.jpg') }}" alt="There should be a corvid here.">
                    </button>
                    <p>Corvid</p>
                </div>
                <div class = "animal">
                    <button class = "animal_button" id = "cat_button" data-animal = "cat">
                        <img src="{{ url_for('static', filename='img/cat.jpg') }}" alt="There should be a cat here.">
                    </button>   
                    <p>Cat</p> 
                </div>
                <div class = "animal">
                    <button class = "animal_button" id = "wolf_button" data-animal = "wolf">
                        <img src="{{ url_for('static', filename='img/wolf.jpg') }}" alt="There should be a wolf here.">
                    </button>
                    <p>Wolf</p>    
                </div>
            </div>
                <div class = "animal, human">
                    <button class = "animal_button" id = "human_button" data-animal = "human">
                        <img src="{{ url_for('static', filename='img/human.jpg') }}" alt="There should be a human here.">
                    </button>
                    <p>Human</p>    
                </div>
            
        </div>
        <div class = "animal_chosen" id = "animal_chosen">
            <h1 id = "game_message"></h1>
            <div class = "a">
                <div class = "b">
                    <img id = "player_choice_img" class = "vs_animal" alt="There should be an angry {player_choice} here."> <!--Important bug! The "{player_choice}" doesn't get replaced by the chosen creature!-->
                </div>
            </div>
            <img class = "vs" src="{{ url_for('static', filename='img/vs.png') }}" alt="vs">
            <div class = "a">
                <div class = "b">
                    <img id = "computer_choice_img" class = "vs_animal" alt="There should be an angry {computer_choice} here."> <!--Important bug! The "{computer_choice}" doesn't get replaced by the chosen creature, AND the words are flipped like the image!-->
                </div>
            </div>
            <br><button class = "lets_go" id = "lets_go"></button>
        </div>
        <div class = "outcome" id = "outcome">
            <div class = "c">
                <div class = "d">
                    <img class = "winner_image" id = "winner_image" alt = "There should be a depiction of your chosen animal winning or losing here.">
                </div>
            </div>
            <p class = "disclaimer">All art belongs to FancySpiders©. <br> These images will be replaced by better art later.</p>
            <p id = "outcome_dialogue" class = "outcome_dialogue"></p>
            <p class = "play_again">Play again?</p>
            <button id = "replay" class = "replay">Yes, I'm ready!</button>
            <button id = "close_game" class = "close_game">Nah, I'm good.</button>             
            <div id = "confirm_close" class = "confirm_close">
                <div class = "confirm_close_content">
                    <span class = "close">x</span>
                    <p>Are you sure? This will direct you to the homepage.</p>
                    <button class = "confirmation">Yes</button>
                </div>
            </div>
        </div>
        <footer>
            <a href="index.html">Go back to home page</a>
        </footer>
        <script src = "{{ url_for('static', filename='rock_paper_scissors.js') }}"></script>
    </body>
</html>