<!DOCTYPE html>

<html>
    <head>
        <title>Super Ultimate Animal Battle Royale Remix Part 2: The Remaster of the classic Rock, Paper, Scissors</title>
        <meta name="description" content="A game of rock, paper, scissors with added elements and mechanics to give it a unique and more complex vibe">
        <meta name="keywords" content="web based game, rock paper scissors game, coding practice, animals, battle royale, remaster">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rock_paper_scissors.css') }}">
    </head>

    <body>
        <div class = "start" id = "start">
            <header>
                <h1>Welcome to the battle of a lifetime! <br>The Super Ultimate Animal Battle Royale Remix Part 2: The Remaster of the Classic Rock, Paper, Scissors!</h1>
            </header>
            
            <h2>Please, choose an animal:</h2>
            <div class = "animal_flexbox">
                <div class = "animal">
                    <button class = "animal-button" id = "beeButton" data-animal = "bee">
                        <img src="{{ url_for('static', filename='img/bee.jpg') }}" alt="There should be a bee here.">
                    </button>
                    <p>Bee</p>    
                </div>
                <div class = "animal">
                    <button class = "animal-button" id = "bunButton" data-animal = "bun">
                        <img src = "{{ url_for('static', filename='img/bun.jpg') }}" alt = "There should be a bun here.">
                    </button> 
                    <p>Bun</p>  
                </div>
                <div class = "animal">
                    <button class = "animal-button" id = "corvidButton" data-animal = "corvid">
                        <img src="{{ url_for('static', filename='img/corvid.jpg') }}" alt="There should be a corvid here.">
                    </button>
                    <p>Corvid</p>
                </div>
                <div class = "animal">
                    <button class = "animal-button" id = "catButton" data-animal = "cat">
                        <img src="{{ url_for('static', filename='img/cat.jpg') }}" alt="There should be a cat here.">
                    </button>   
                    <p>Cat</p> 
                </div>
                <div class = "animal">
                    <button class = "animal-button" id = "wolfButton" data-animal = "wolf">
                        <img src="{{ url_for('static', filename='img/wolf.jpg') }}" alt="There should be a wolf here.">
                    </button>
                    <p>Wolf</p>    
                </div>
            </div>
                <div class = "animal, human">
                    <button class = "animal-button" id = "humanButton" data-animal = "human">
                        <img src="{{ url_for('static', filename='img/human.jpg') }}" alt="There should be a human here.">
                    </button>
                    <p>Human</p>    
                </div>
            
        </div>
        <div class = "animal_chosen" id = "animal_chosen">
            <h1 id = "game-message"></h1>
            <div class = "a">
                <div class = "b">
                    <img class = "vs_animal" src="{{ url_for('static', filename='img/wolf.jpg') }}" alt="There should be an angry {player_choice} here.">
                </div>
            </div>
            <img class = "vs" src="{{ url_for('static', filename='img/vs.png') }}" alt="vs">
            <div class = "a">
                <div class = "b">
                    <img class = "vs_animal" src="{{ url_for('static', filename='img/wolf.jpg') }}" alt="There should be an angry {computer_choice} here.">
                </div>
            </div>
            <br><button class = "lets_go" id = "lets_go"></button>
        </div>
        <div class = "outcome" id = "outcome">
            <p>{Outcome depending on the player's choice and computer's choice.}</p> <!--This will become an image-->
            <p>Play again?</p>
            <button>Yes, I'm ready!</button><button>Nah, I'm good.</button>             
        </div>
        <footer>
            <a href="index.html">Go back to home page</a>
        </footer>
        <script src = "{{ url_for('static', filename='rock_paper_scissors.js') }}"></script>
    </body>
</html>