<!DOCTYPE html>

<html>
    <head>
        <title>Super Ultimate Animal Battle Royale Remix Part 2: The Remaster of the classic Rock, Paper, Scissors</title>
        <meta name="description" content="A game of rock, paper, scissors with added elements and mechanics to give it a unique and more complex vibe">
        <meta name="keywords" content="web based game, rock paper scissors game, coding practice, animals, battle royale, remaster">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rock_paper_scissors.css') }}">
    </head>

    <body>
        <div class = "start" id = "start">
            <header>
                <h1>Welcome to the battle of a lifetime! <br>The Super Ultimate Animal Battle Royale Remix Part 2: The Remaster of the Classic Rock, Paper, Scissors!</h1>
            </header>
            
            <h2>Please, choose an animal:</h2>
            <div class = "flexbox">
                <div class = "animal">
                    <button class = "animal_button" id = "bee_button" data-animal = "bee">
                        <img src="{{ url_for('static', filename='img/animals/bee.png') }}" alt="a bee">
                    </button>
                    <p>Bee</p>    
                </div>
                <div class = "animal">
                    <button class = "animal_button" id = "bun_button" data-animal = "bun">
                        <img src = "{{ url_for('static', filename='img/animals/bun.png') }}" alt = "a bun">
                    </button> 
                    <p>Bun</p>  
                </div>
                <div class = "animal">
                    <button class = "animal_button" id = "corvid_button" data-animal = "corvid">
                        <img src="{{ url_for('static', filename='img/animals/corvid.png') }}" alt="a corvid">
                    </button>
                    <p>Corvid</p>
                </div>
                <div class = "animal">
                    <button class = "animal_button" id = "cat_button" data-animal = "cat">
                        <img src="{{ url_for('static', filename='img/animals/cat.png') }}" alt="a cat">
                    </button>   
                    <p>Cat</p> 
                </div>
                <div class = "animal">
                    <button class = "animal_button" id = "wolf_button" data-animal = "wolf">
                        <img src="{{ url_for('static', filename='img/animals/wolf.png') }}" alt="a wolf">
                    </button>
                    <p>Wolf</p>    
                </div>
            </div>
                <div class = "animal, human">
                    <button class = "animal_button" id = "human_button" data-animal = "human">
                        <img src="{{ url_for('static', filename='img/animals/human.png') }}" alt="a human">
                    </button>
                    <p>Human</p>    
                </div>
            
        </div>
        <div class = "animal_chosen" id = "animal_chosen">
            <h1 id = "game_message"></h1>
            <div class = "a">
                <div class = "b">
                    <img id = "player_choice_img" class = "vs_animal">
                </div>
            </div>
            <img class = "vs" src="{{ url_for('static', filename='img/accessory_imgs/vs.png') }}" alt="vs">
            <div class = "a">
                <div class = "b">
                    <img id = "computer_choice_img" class = "vs_animal"> <!--Important bug! The words are flipped like the image!-->
                </div>
            </div>
            <br><button class = "lets_go" id = "lets_go"></button>
        </div>
        <div class = "outcome" id = "outcome">
            <div class = "a">
                <div class = "b">
                    <img class = "winner_image" id = "winner_image" alt = "a depiction of your chosen animal winning or losing">
                </div>
            </div>
            <p class = "disclaimer">All art belongs to FancySpiders©. <br> These images will be replaced by better art later.</p>
            <p id = "outcome_dialogue" class = "outcome_dialogue"></p>
            <p class = "play_again">Play again?</p>
            <button id = "replay" class = "replay">Yes, I'm ready!</button>
            <button id = "close_game" class = "close_game">Nah, I'm good.</button>             
            <div id = "confirm_close" class = "confirm_close">  
                <div class = "confirm_close_content">
                    <span class = "close">x</span>
                    <p>Are you sure? This will direct you to the homepage.</p>
                    <button class = "confirmation">Yes</button>
                </div>
            </div>
        </div>
        <div class = "tie" id = "tie">
            <p class = "tie_announcement">It's a tie!</p>
            <p class = "element_explanation">Looks like being basic animals isn't enough for you two. It's time to adopt a... 'special' quality to apply to your animal of choice.</p>
            <p class = "choose_element">Choose a basic element:</p>
            <div class = "element_buttons">
                <div>
                    <button class = "button_water, element_button" data-element = "water">
                        <img src="{{ url_for('static', filename='img/accessory_imgs/water_symbol.png') }}" alt="water symbol">
                    </button>  
                    <p>water</p>  
                </div>
                <div>
                    <button class = "button_fire, element_button" data-element = "fire">
                        <img src="{{ url_for('static', filename='img/accessory_imgs/fire_symbol.png') }}" alt="fire symbol">
                    </button>
                    <p>fire</p>    
                </div>
                <div>
                    <button class = "button_earth, element_button" data-element = "earth">
                        <img src="{{ url_for('static', filename='img/accessory_imgs/earth_symbol.png') }}" alt="earth symbol">
                    </button>
                    <p>earth</p>    
                </div>
                <div>
                    <button class = "button_air, element_button" data-element = "air">
                        <img src="{{ url_for('static', filename='img/accessory_imgs/air_symbol.png') }}" alt="air symbol">
                    </button>
                    <p>air</p>    
                </div>
            </div>
        </div>
        <div class = "element_animal" id = "element_animal">   
            <div class = "element_animal_one" id = "element_animal_one">
                <p class = "element_animal_text">Congrats! You've become...</p>
                <button class = "continue_one">Tell me, tell me, tell me!</button>
            </div>
            <div class = "element_animal_two" id = "element_animal_two">
                <img class = "player_combo_img" id = "player_combo_img">
                <p class = "player_combo_text" id = "player_combo_text"></p>
                <button class = "continue_two">Sweet!</button>
            </div>
            <div class = "element_animal_three" id = "element_animal_three">
                <p class = "element_animal_text">And your opponent has become...</p>
                <button class = "continue_three">Oh no... what?</button>
            </div>
            <div class = "element_animal_four" id = "element_animal_four">
                <img class = "computer_combo_img" id = "computer_combo_img">
                <p class = "computer_combo_text" id = "computer_combo_text"></p>
                <button class = "continue_four">:O</button>
            </div>
            <div class = "element_animal_five" id = "element_animal_five">
                <h1 id = "combo_message"></h1>
                <img id = "fighting_player_combo_img">
                <img class = "vs" src="{{ url_for('static', filename='img/accessory_imgs/vs.png') }}" alt="vs">
                <img id = "fighting_computer_combo_img">
                <br><button class="element_outcome_button">Let's go!</button>
            </div>
            <div id = "element_outcome" class = "element_outcome">
                <img class = "element_outcome_image" id = "element_outcome_image" src = "https://purepng.com/public/uploads/large/31508450200spcaug8c6yrcwtjumebwrisfwkm9zqccww9g4pndyh5ddsgiydsvillhoab2tvpio1ounuvblikb6jzlqflr5fdrnay3p2w7r5e2.png">
                <p class = "element_outcome_dialogue" id = "element_outcome_dialogue">The element outcome dialogue</p>
            </div>
        </div>
        <footer>
            <a href="index.html">Go back to home page</a>
        </footer>
        <script src = "{{ url_for('static', filename='rock_paper_scissors.js') }}"></script>
    </body>
</html>